:root{
  --fonte: 'Montserrat', sans-serif;
  --branco: #Fffff;
  --creme: ##f8f1e9;
  --preto: #1C1F26;
  --cinza: #e2ddd9
}

body {
  margin: 0;
  font-family: var(--fonte);
  background-color: var(--creme);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
