.capa {
    width: 95%;
    height: 18em;
    margin-inline: 2em;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1em;
    border-radius: 2%;
    -webkit-border-radius: 2%;
    -moz-border-radius: 2%;
    -ms-border-radius: 2%;
    -o-border-radius: 2%;
}